@font-face {
  font-family: "NewRodin";
  src: url("fonts/NewRodin_Pro_M.otf");
}

.hidden {
  display: none;
}

.no-highlight {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body {
  background-color: #272727;
  color: #FFFFFF;
}

#skill-layer {
  width: 316px;
  height: 431px;
  background-image: url("images/assets/Box.png");
}

#skill-search {
  margin: 7px 7px 4.4px 7px;
  height: 22px;
  width: 301px;
  padding-left: 5px;
  background: transparent;
  border: none;
  color: #DCDCDC;
}

#skill-search:focus {
  outline: none;
}

#skill-selector {
  height: 388.1px;
  width: 306px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

#skill-selector::-webkit-scrollbar {
  width: 5px;
  background-color: #204C4F;
}

#skill-selector::-webkit-scrollbar-thumb {
  background-color: #8DD0E6;
}

.skill-node {
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 7px;
}

.skill-node:after {
  display: inline-block;
  height: 6px;
  width: 284px;
  background-image: url("images/assets/Line.png");
  content: "";
}

.skill-node:last-child:after {
  content: none;
}

.skill-node img{
  height: 40px;
  width: 40px;
  padding: 3px;
  background-image: url("images/assets/SkillBorders.png");
}

.skill-node.selectable img {background-position: 0px -46px;}
.skill-node.selected img {background-position: 0px -92px;}
.skill-node.unselectedable img {background-position: 0px 0px;}

#stats-display {
  height: 272px;
  width: 247px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("images/assets/Stats Display.png");
}

#stats-display p {
  margin: 0px 17px 0px 17px;
  line-height: 100%;
  font-family: "NewRodin";
  color: #DCDCDC;
  height: 15px;
  font-size: 15px;
}

#stats-display p:first-child {
  height: 21px;
  font-size: 21px;
  margin-top: 13px;
}

#stats-display p:last-child {
  margin-bottom: 20px;
}

#stats-display span {
  float: right;
}

#skill-palette {
  height: 74px;
  width: 270px;
  display: flex;
  justify-content: space-between;
  background-image: url("images/assets/Skills Palette.png");
}

.skill-palette-icon {
  height: 40px;
  width: 40px;
  margin: 23px 5px 0px 5px;
  background-size: contain;
}
