.hidden {
    display: none;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.no-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#skill-layer {
    background-color: #FFFFFF;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15%;
    margin-left: -35%;
    z-index: 100;
}

#skill-selector {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll;
}

.skill-node {
    width: calc(50% - 2px);
    box-sizing: border-box;
    border: 1px solid #777777;
    margin: 1px;
}

.skill-node .top {
    display: flex;
}

.skill-node.selected {
    background-color: #777777;
}

#skills {
    display: flex;
}

.skill-levels {
    display: flex;
    flex-wrap: wrap;
    width: 82px;
}

.skill-level-node {
    width: calc(72px / 5);
    height: calc(72px / 5);
    border: 1px solid #777777;
}
