.hidden {
    display: none;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.no-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#skill-layer {
    background-color: #FFFFFF;
    width: 70%;
    height: 70%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

#skill-selector {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    height: calc(100% - 27px);
    overflow-y: scroll;
}

#skill-search {
    height: 21px;
    width: calc(100% - 4px);
}

.skill-node {
    height: 82px;
    width: calc(25%  - 2px);
    box-sizing: border-box;
    border: 1px solid #777777;
    margin: 1px;
}

.skill-node.selected {
    background-color: #777777;
}

#skill-palette {
    height: 74px;
    width: 275px;
	background-image: url("images/assets/Skills Palette.png");
    background-repeat: no-repeat;
}

.skill-palette-icon {
    height: 40px;
    width: 40px;
    margin: 23px 10px 0px 5px;
    float: left;
    background-size: contain;
}
